<div class="relative w-480 m-auto border-2 shadow-lg rounded-xl items-center">
  <!-- Image -->
  <div class="flex h-28 bg-blue-700 rounded-xl items-center justify-center">
    <h1 class="absolute mx-auto text-center right text-2xl text-white">
      Detail Article
    </h1>
  </div>

  <!-- Description -->
  <div class="p-2 border-b-2">
    <h6>

      <h1><%= @page.title %></h1>

      <p><strong>Description:</strong> <%= @page.description %></p>

      <p><strong>Created At:</strong> <%= @page.created_at %></p>

      <p><strong>Updated At:</strong> <%= @page.updated_at %></p>

    </h6>
  </div>

  <!-- Tech stack used -->
  <div class="flex flex-wrap items-center m-2">
    <span class="border border-blue-300 rounded-2xl px-2 my-1 mx-1">
      #PHP
    </span>
    <span class="border border-blue-300 rounded-2xl px-2 my-1 mx-1">
      #Python
    </span>
    <span class="border border-blue-300 rounded-2xl px-2 my-1 mx-1">
      #React
    </span>
    <span class="border border-blue-300 rounded-2xl px-2 my-1 mx-1">
      #GoLang
    </span>
    <span class="border border-blue-300 rounded-2xl px-2 my-1 mx-1">
      #Redux
    </span>
    <span class="border border-blue-300 rounded-2xl px-2 my-1 mx-1">
      #Javascript
    </span>
    <span class="border border-blue-300 rounded-2xl px-2 my-1 mx-1">
      #Java
    </span>
    <span class="border border-blue-300 rounded-2xl px-2 my-1 mx-1">
      #Ruby on Rails
    </span>
  </div>

  <!-- Links -->
  <div class="flex flex-wrap items-center rounded-b-xl border-t-2 bg-white">
    <button class="border rounded-2xl bg-blue-600 text-white shadow-sm p-1 px-2 m-2">
      <%= link_to 'Edit', edit_page_path(@page) %>
    </button>
    <button class="border rounded-2xl bg-blue-600 text-white shadow-sm p-1 px-2 m-2">
      <%= link_to 'Back', pages_path %>
    </button>
  </div>
</div>
